<?xml version="1.0"?>
<launch>

        <!-- startup simulated robot -->
        <include file="$(find cob_bringup_sim)/launch/robot.launch" />
        
        <!-- startup websocket -->
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
       
        
        <!-- startup navigation -->
        <include file="$(find cob_navigation_global)/launch/2dnav_ros_dwa.launch" />
        
        <!-- startup navigation -->
        <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find cob_web_delivery)/nav.rviz" respawn="false" output="screen" />
        
</launch>
