<?xml version="1.0"?>
<launch>
    
        <!-- startup simulated robot -->
        <include file="$(find cob_bringup_sim)/launch/robot.launch" />
        
        <!-- load segmented map and positions delays bringup for 30seconds-->
        <rosparam command="load" file="$(find cob_web_delivery)/destinations.yaml" param="destinations" ns="web_order"/>
        <rosparam command="load" file="$(find cob_web_delivery)/segmented_map.yaml" param="segs" ns="web_order"/>
        <rosparam command="load" file="$(find cob_web_delivery)/pickup_positions.yaml" param="pickup_positions" ns="web_order"/>
        
        <!-- startup websocket -->
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
       
        
        <!-- startup navigation -->
        <include file="$(find cob_navigation_global)/launch/2dnav_ros_dwa.launch" />
        
        <!-- startup script server -->
        <!--include file="$(find cob_script_server)/launch/script_server.launch" /-->
        
        <!-- startup rviz -->
        <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find cob_web_delivery)/nav.rviz" respawn="false" output="screen" />
        
</launch>
